<% @all_secrets.each do |secret| %>
  <p><%= secret.created_at %></p>
  <p><%= secret.content %></p>
  <% if current_user == secret.user %>
    <form action="/users/<%=current_user.id%>/secrets/<%=secret.id%>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="delete">
		<input type='submit' value="Delete Secret">
	</form>
  <% end %>
  	<% unless secret.users.include?(current_user) %>
	  <form action='/likes' method='post'>
	  	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	  	<input type='hidden' name='secret_id' value="<%= secret.id%>">
	  	<input type='submit' id='Like' value='Like'>
	  </form>
	<% else %>
	  <form action='/likes/<%= Like.where(user: current_user, secret: secret).first.id%>'' method='post'>
	  	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	  	<input type="hidden" name="_method" value="delete">
	  	<input type='hidden' name='secret_id' value="<%= secret.id%>">
	  	<input type='submit' id='Unlike' value='Unlike'>
	  </form>
	<% end %>
  <p> <%= secret.users.length%> likes </p>
<% end %>