<% @all_secrets.each do |secret| %>
  <p><%= secret.created_at %></p>
  <p><%= secret.content %></p>
  <% if current_user == secret.user %>
    <form action="/users/<%=current_user.id%>/secrets/<%=secret.id%>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="delete">
		<input type='submit' value="Delete Secret">
	</form>
  <% end %>
<% end %>